<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pietromaggi.sample.barcodeForms" android:installLocation="auto" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<application android:label="BarcodeForms" android:icon="@drawable/icon">
		<uses-library android:name="com.symbol.emdk" />
	</application>
</manifest>